body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1501px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:856px;
}
#u31242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:856px;
  display:flex;
}
#u31242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31243 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:243px;
  width:91px;
  height:43px;
  display:flex;
  opacity:0.6;
}
#u31243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:756px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31244 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:99px;
  width:417px;
  height:756px;
  display:flex;
}
#u31244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31245 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:120px;
  width:100px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u31246 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:142px;
  width:375px;
  height:1px;
  display:flex;
}
#u31246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31247 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:153px;
  width:375px;
  height:165px;
}
#u31248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u31248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  display:flex;
}
#u31248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u31249 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u31249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u31250 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:0px;
  width:76px;
  height:30px;
  display:flex;
}
#u31250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u31251 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:0px;
  width:113px;
  height:30px;
  display:flex;
}
#u31251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u31252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:66px;
  height:45px;
  display:flex;
}
#u31252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u31253 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:30px;
  width:120px;
  height:45px;
  display:flex;
  text-align:left;
}
#u31253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:45px;
}
#u31254 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:30px;
  width:76px;
  height:45px;
  display:flex;
}
#u31254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u31255 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:30px;
  width:113px;
  height:45px;
  display:flex;
}
#u31255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u31257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:66px;
  height:45px;
  display:flex;
}
#u31257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u31258 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:75px;
  width:120px;
  height:45px;
  display:flex;
  text-align:left;
}
#u31258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:45px;
}
#u31259 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:75px;
  width:76px;
  height:45px;
  display:flex;
}
#u31259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u31260 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:75px;
  width:113px;
  height:45px;
  display:flex;
}
#u31260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u31262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:66px;
  height:45px;
  display:flex;
}
#u31262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u31263 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:120px;
  width:120px;
  height:45px;
  display:flex;
  text-align:left;
}
#u31263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:45px;
}
#u31264 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:120px;
  width:76px;
  height:45px;
  display:flex;
}
#u31264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u31265 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:120px;
  width:113px;
  height:45px;
  display:flex;
}
#u31265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u31267 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:626px;
  width:54px;
  height:16px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u31267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31268 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:508px;
  width:100px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:2px;
}
#u31269 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:532px;
  width:384px;
  height:1px;
  display:flex;
}
#u31269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31270 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:328px;
  width:100px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u31270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u31271 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:356px;
  width:375px;
  height:1px;
  display:flex;
}
#u31271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u31272 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:664px;
  width:69px;
  height:16px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u31272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31273 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:626px;
  width:155px;
  height:16px;
  display:flex;
}
#u31273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31274 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:664px;
  width:155px;
  height:16px;
  display:flex;
}
#u31274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31275 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:243px;
  width:87px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31276 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:243px;
  width:90px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31277 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:243px;
  width:87px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u31278 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:400px;
  width:74px;
  height:16px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u31278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u31279 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:451px;
  width:72px;
  height:16px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u31279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31280 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:400px;
  width:155px;
  height:16px;
  display:flex;
}
#u31280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31281 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:451px;
  width:304px;
  height:16px;
  display:flex;
}
#u31281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:63px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31282 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:792px;
  width:417px;
  height:63px;
  display:flex;
}
#u31282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31283 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:804px;
  width:91px;
  height:40px;
  display:flex;
}
#u31283 .text {
  position:absolute;
  align-self:center;
  padding:12px 10px 12px 10px;
  box-sizing:border-box;
  width:100%;
}
#u31283_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31283.mouseOver {
}
#u31283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u31284 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:814px;
  width:132px;
  height:18px;
  display:flex;
  text-align:right;
}
#u31284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31285 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:804px;
  width:73px;
  height:40px;
  display:flex;
}
#u31285 .text {
  position:absolute;
  align-self:center;
  padding:12px 10px 12px 10px;
  box-sizing:border-box;
  width:100%;
}
#u31285_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31285.mouseOver {
}
#u31285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31286 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:804px;
  width:73px;
  height:40px;
  display:flex;
}
#u31286 .text {
  position:absolute;
  align-self:center;
  padding:12px 10px 12px 10px;
  box-sizing:border-box;
  width:100%;
}
#u31286_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31286.mouseOver {
}
#u31286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
  text-align:right;
}
#u31287 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:712px;
  width:69px;
  height:16px;
  display:flex;
  color:#A1A1A1;
  text-align:right;
}
#u31287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31288_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u31288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31288 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:708px;
  width:297px;
  height:25px;
  display:flex;
}
#u31288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31288_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31288.disabled {
}
#u31289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u31289 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:550px;
  width:54px;
  height:16px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u31289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u31290 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:588px;
  width:69px;
  height:16px;
  display:flex;
  color:#999999;
  text-align:right;
}
#u31290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31291 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:550px;
  width:231px;
  height:16px;
  display:flex;
}
#u31291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31292 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:588px;
  width:232px;
  height:16px;
  display:flex;
}
#u31292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u31293 {
  border-width:0px;
  position:absolute;
  left:1451px;
  top:113px;
  width:25px;
  height:25px;
  display:flex;
}
#u31293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
